
/*podstawowe style całej strony*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
  width: 100%;
}
/*tło strony i nagłówek*/
.home-page {
    background-color: #EDE8E0;
    min-height: 100vh;          
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0;                 
    margin: 0;                  
}
.bar-page {
    background-color: #2C4062;
    width: 100%;
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
}
/*formularz i grupy formularza*/
.form {
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.form-group {
  margin-bottom: 40px;
  text-align: left;
}
.form-label {
  display: block;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
.button-home{
  width: 200px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  background-color: #2C4062;
  border: #2C4062;
  border-radius: 20px;

}
/* Grupa input + select */
.input-group {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 20px;
  height: 50px;
  background-color: white;
}
.amount-input {
  flex: 1;
  padding: 0 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.divider {
  width: 3px;
  height: 60%;
  border-radius: 20px;
  background-color: #535353;
  align-self: center;
}

.country-select {
  flex: 1;
  border: none !important;
  outline: none !important;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  background-color: white;
  border-radius: 20px;
}

.country-select .react-select__control {
  border-radius: 20px !important;  
  height: 50px !important;          
  border: none !important;         
  background-color: white;         
  box-shadow: none !important;     
  padding-left: 0;                  
  
}

/* padding i wyrównanie tekstu w select */
.country-select .react-select__value-container {
  height: 50px;                     
  padding: 0 10px;                  
  display: flex;
  align-self: center;
  justify-content: center;
}

/* pojedyncza wybrana wartość */
.country-select .react-select__single-value {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* menu dropdown */
.country-select .react-select__menu {
  border-radius: 10px;             
  overflow: hidden;
  z-index: 999;
  font-family: "Libre Baskerville", serif;
}

/* opcje w menu */
.country-select .react-select__option {
  padding: 8px 12px;
  cursor: pointer;
}
.country-select .react-select__option--is-focused {
  background-color: #f0f0f0;       
}
/*tabele archive i favorites*/
.box-table{
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  background-color: white;
  border: white;
  border-radius: 20px;
  font-family: "Inter", sans-serif;

}
.table-tabs {
  display: flex;
}

.tab {
  flex: 1;
  padding: 15px 0;
  border-radius: 20px;
  border: white;
  background: white;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.tab.active {
  background: #2C4062;
  color: white;
}
.star-button {
  background: none;
  border: none;
  font-size: 24px;      
  cursor: pointer;
  color: gray;           
  transition: color 0.2s ease;
}


.star-button.active {
  color: gold;           /* kolor po kliknięciu */
}
.result{
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.tableContainer {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.customTable {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-family: "Inter", sans-serif;
}


.customTable td {
  padding: 10px;
  background-color: #EDE8E0;
}
.customTable td:first-child {
  border-radius: 15px 0 0 15px;
}
.customTable td:last-child {
  border-radius: 0 15px 15px 0;
}
